.carousel {
  overflow: hidden;
}

.carousel__slides {
  display: flex;
  gap: 1.6rem;
  margin-top: 4rem;
  padding: 0;
  transition: all 0.3s;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3.2rem;
}

.carousel__dots {
  display: flex;
  gap: 0.8rem;
}

.carousel__dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: $color-neutral-gray-4;
  border-radius: 50%;
}

.carousel__dot.active {
  outline: 0.1rem solid $color-neutral-gray-7;
  outline-offset: 0.2rem;

  background-color: $color-neutral-gray-7;
}

.carousel__header h2 {
  @include headline--5;
  color: $color-primary-black;
}
