.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;

  padding: 4.8rem 3.2rem;
  background-color: $color-neutral-gray-7;
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.footer__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.footer__logo {
  @include logo;
  color: #fff;
  font-size: 2.4rem;
}

.footer__line {
  height: 0.1rem;
  width: 2.4rem;
  background-color: $color-neutral-gray-4;
}

.footer__shop-name {
  @include text-14($fw-regular);
  color: $color-neutral-gray-3;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.footer__list a {
  @include text-14($fw-regular);
  color: #fff;
}

.footer__bottom-nav {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding-top: 2.4rem;
}

.footer__bottom-nav > a {
  width: 2.4rem;
  height: 2.4rem;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  border-top: 0.05rem solid $color-neutral-gray-4;
}

.footer__copyright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem;
}

.footer__copyright > a {
  @include text-14($fw-medium);
  font-family: $ff-poppins;
  color: #fff;
}

.footer__copyright > a:first-child {
  justify-self: flex-end;
}

.footer__copyright > p {
  @include text-12($fw-regular);
  color: $color-neutral-gray-3;
  text-align: center;

  grid-column: 1 / -1;
}

.author {
  color: $color-neutral-gray-4;
}

//---------------------------------------------------- Responsive: width > 768px
@media only screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
  }
}

//---------------------------------------------------- Responsive: width >= 1440px
@media only screen and (min-width: 1440px) {
  .footer {
    gap: 4.9rem;
    padding: 8rem 16rem 3.2rem 16rem;
  }

  .footer__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__slogan {
    flex-direction: row;
    gap: 3.2rem;
  }

  .footer__line {
    transform: rotate(90deg);
  }

  .footer__list {
    gap: 4rem;
  }

  .footer__bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding: 1.6rem 0;
  }

  .footer__bottom-nav {
    gap: 2.4rem;
    padding-top: 0;
  }

  .footer__copyright {
    display: flex;
    gap: 2.8rem;
  }

  .footer__copyright > p:nth-child(odd) {
    order: -1;
  }
}
