.hero {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: $color-gradient-1;
  height: 69.2rem;
}
.hero::after {
  content: "";
  background: url(../assets/images/Paste_image-mobile-removebg-preview.png)
    no-repeat bottom;
  position: absolute;
  top: 30rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__content {
  @include flex-column-center();
}

.hero__title {
  @include headline--4();
  color: $color-headline;
  text-align: center;
}

.hero__title span {
  color: $color-secondary-blue;
}

.hero__caption {
  @include text-16($fw-regular);
  color: $color-headline;
  margin-top: 0.8rem;
}

.hero__btn {
  @include btn-xs();
  padding: 1.2rem 5.6rem;
  margin-top: 1.6rem;
}

//---------------------------------------------------- Responsive: width < 375
@media only screen and (max-width: 370px) {
  .hero__title {
    font-size: 3.5rem;
  }

  .hero__caption {
    font-size: 1.3rem;
  }
}

//---------------------------------------------------- Responsive: width > 768
@media only screen and (min-width: 768px) {
  .hero {
    height: auto;
  }

  .hero::after {
    content: none;
  }
}
