.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 3.2rem;

  background: $color-gradient-1;
}

.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.nav__btn {
  width: 2.4rem;
  height: 2.4rem;

  background: url(./../../assets/icons/menu-line-horizontal.svg);
  z-index: 11;
}

.nav__btn.close {
  background: url(../../assets/icons/x.svg);
}

.nav__logo {
  font-family: $ff-poppins;
  font-size: $fs-small;
  font-weight: 500;
  color: $color-primary-black;
}

.nav__shopping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav__shopping-list img {
  width: 2.4rem;
  height: 2.4rem;
}

.nav__shopping-list span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  font-size: $fs-xxs;
  font-weight: $fw-bold;

  color: $color-secondary-orange;
  background-color: $color-primary-black;

  border-radius: 50%;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;

  background-color: hsla(100%, 100%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.nav__menu.open {
  right: 0;
  height: 100vh;

  display: flex;
  justify-content: center;

  padding-top: 5rem;
  visibility: visible;
  opacity: 1;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: center;
  list-style: none;
}

.nav__list li {
  font-size: $fs-xxs;
  font-weight: $fw-medium;
  line-height: $lh-xxs;
}

.nav__list li a {
  color: $color-neutral-gray-7;
}
